#!/usr/bin/make -f

export PYBUILD_NAME = png

%:
	dh $@ --with python3 --buildsystem=pybuild

override_dh_auto_clean:
	rm -rf .pybuild build code/*egg-info
	find . -name '*.pyc' -delete

override_dh_auto_test:
ifeq (,$(filter nocheck,$(DEB_BUILD_OPTIONS)))
	PYTHONPATH=./code python3 -m test_png
endif
